---
import About from "../components/about.astro";
import Faq from "../components/faq.astro";
import Featured from "../components/featured.astro";
import Footer from "../components/footer.astro";
import Hero from "../components/hero.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <Hero />

  <main
    class="mx-auto grid w-full place-items-center px-5 pt-20 pb-20 text-center"
  >
    <About />

    <Faq />

    <Featured />
  </main>

  <Footer />
</Layout>
