---
import Hero from "../components/hero.astro";
import * as LINKS from "../constants/links";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <Hero />

  <main
    class="mx-auto grid w-full max-w-5xl place-items-center px-5 pt-20 pb-20 text-center"
  >
    <p class="p mb-5">
      In association with <a href="https://c-base.org">c-base</a>
      — the oldest discovered space station under Berlin — now long-running (nearly
      30 years) hackerspace, we're hosting a quarterly event.
    </p>

    <p class="p mb-5">
      In tune with the spirit of right-to-repair as well as reuse, the goal of
      the Berlin Swapfest is for people to bring electronics, equipment, and
      tools they no longer use but want to bring to a good home. If you've been
      trying to find the perfect equipment to build your home-lab or looking for
      new electronic components or tools, this should be the place for you.
      Berlin Swapfest is inspired by the <a
        href="https://w1mx.mit.edu/flea-at-mit/">MIT Swapfest</a
      >.
    </p>

    <p class="p mb-10">
      We will try to make things educational and entertaining. Hourly, we pass a
      microphone around so those who want to swap items <em>can</em> elaborate on
      what they're offering and what their expectations are for the exchange. The
      Berlin Swapfest is a relaxed event where you can meet other people. Additionally,
      there is a bar where you can get beverages.
    </p>

    <h2 class="h1">
      <span class="letter-1">F</span><span class="letter-2">A</span><span
        class="letter-3">Q</span
      >
    </h2>

    <div class="space-y-10 sm:space-y-25">
      <article class="space-y-5">
        <div>
          <h2 class="faq-header tilt-left inline-block">
            Do you provide tables?
          </h2>
        </div>

        <div class="space-y-5">
          <p class="p">
            Yes, c-base will provide space and tables. Space will be allocated
            based on registration information. If you forgot to register as a
            provider of items, it may be possible to get table space if there is
            room left, but people who registered have priority!
          </p>
        </div>
      </article>

      <article class="space-y-5">
        <div>
          <h2 class="faq-header tilt-right inline-block">
            How much to get a table?
          </h2>
        </div>

        <div class="space-y-5">
          <p class="p">
            Being a provider of items is free. Depending on the size of the
            items you're bringing, you may be asked for a deposit to cover
            potential disposal costs if you don't take them back home.
          </p>

          <p class="p">
            However, we highly encourage you to only bring items you're
            comfortable taking back home.
          </p>
        </div>
      </article>

      <article class="space-y-5">
        <div>
          <h2 class="faq-header tilt-left inline-block">
            How can I swap stuff?
          </h2>
        </div>

        <div class="space-y-5">
          <p class="p">
            We have no requirements on how to exchange goods. You can use cash,
            cryptocurrency, PayPal, electronics, services, knowledge, beverages,
            or any other medium of exchange—it is entirely up to you. Any
            disputes must be resolved between the parties involved. Team members
            will only intervene in cases where c-base rules are breached.
          </p>
        </div>
      </article>
    </div>
  </main>

  <footer class="pb-20 text-center">
    <div class="mb-5">
      <p class="p">
        <a
          href={LINKS.CONTACT_LINK}
          target="_blank"
          rel="nofollow"
          class="no-underline"
        >
          Contact
        </a>
      </p>

      <p class="p">
        <a
          href={LINKS.MATRIX_LINK}
          target="_blank"
          rel="nofollow"
          class="no-underline"
        >
          Matrix Chat
        </a>
      </p>

      <p class="p">
        <a
          href={LINKS.BLUESKY_LINK}
          target="_blank"
          rel="nofollow"
          class="no-underline"
        >
          Bluesky
        </a>
      </p>
    </div>

    <div class="mb-5">
      <p class="p">
        Brought to you by <a href="https://www.reiner.systems" target="_blank">
          mirshko
        </a>
      </p>

      <p class="p">
        Designed by <a href="https://www.brandonoxendine.com" target="_blank">
          Brandon Oxendine
        </a>
      </p>

      <p class="p">
        Source <a href={LINKS.GITHUB_LINK} target="_blank"> on GitHub </a>
      </p>
    </div>
  </footer>
</Layout>
