---
import FlyerTabs from "../components/flyer-tabs.astro";
import Snapshots from "../components/snapshots.astro";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";

import { REGISTER_LINK } from "../constants/links";

import { Image } from "astro:assets";
import bg from "../assets/bg.png";
---

<Layout>
  <div
    class="relative hero flex flex-col items-center justify-center align-self-stretch text-center"
  >
    <Image src={bg} class="hero-bg" alt="" loading="eager" priority />

    <Snapshots />

    <Title />

    <h2 class="faq-header tilt-left">April 19th, 2025</h2>
    <h2 class="faq-header tilt-right">at c-base</h2>

    <p>Rungestraße 20</p>

    <h3 class="h1">
      <span class="letter-2">1</span><span class="letter-3">2</span>:<span
        class="letter-5">0</span
      ><span class="letter-6">0</span> – <span class="letter-5">1</span><span
        class="letter-8">8</span
      ><span class="letter-9">:</span><span class="letter-10">0</span><span
        class="letter-11">0</span
      >
    </h3>

    <a
      class="register-link text-center mt-10"
      href={REGISTER_LINK}
      target="_blank"
      onclick="fathom.trackEvent('register here click');"
    >
      Register here
    </a>
  </div>

  <FlyerTabs />

  <div class="flex flex-col items-center justify-center text-center">
    <div class="mb-100 mt-20">
      <p class="mb-6">
        In association with Berlin's long-time hacker space <a
          href="https://c-base.org">c-base</a
        > we're hosting the first of a quarterly Swapfest at their space in Kreuzberg.
        This is a place to buy, sell, and swap electronics, computer equipment, and
        tools.
      </p>

      <p>
        In tune with the spirit of right-to-repair as well as re-use; the goal
        of the Berlin Swapfest is for people to bring electronics, equipment,
        and tools they no longer use, but want to bring to a good home. If
        you've been trying to find the perfect equipment to build your home-lab
        or looking for new electronic components or tools, this should be the
        place for you.
      </p>

      <!-- <p>Time-permitting there will be a show-and-tell for vendors to be able to talk about an item they are looking to part with and talk about what they've used it for and any fond memories they have and what they'd hope for someone to gain from purchasing it.</p> -->
    </div>

    <h2 class="h1">
      <span class="letter-1">F</span><span class="letter-2">A</span><span
        class="letter-3">Q</span
      >
    </h2>

    <article class="mb-100">
      <h2 class="faq-header tilt-right mb-6">How much does it cost to sell?</h2>
      <div>
        <p class="mb-6">
          Being a seller will always be free. Depending on the size of the item
          you're bringing you may be asked for a deposit to handle disposal of
          your items should you not bring it back home with you.
        </p>

        <p>
          However, we highly encourage you to only bring items you're
          comfortable bringing back home with you.
        </p>

        <!-- <p>As an example:</p>
        <p>You've brought a 19" server rack to sell and no one bought it and you're unable to bring it home, the deposit will be used to properly dispose of it.</p> -->
      </div>
    </article>

    <!-- <article>
      <h2 class="tilt-left">How large is the space?</h2>
      <div>
        <p>[NEED TO CLARIFY]</p>
      </div>
    </article> -->

    <article class="mb-100">
      <h2 class="faq-header tilt-left mb-6">Do you provide tables?</h2>

      <div>
        <p>
          Yes, c-base will provide space and tables for sellers. Space will be
          allocated based on registration information. If you forgot to register
          as a seller, it may be possible to sell items at a table
          space-permitting.
        </p>
      </div>
    </article>

    <article class="mb-100">
      <h2 class="faq-header tilt-right mb-6">How can I buy / sell stuff?</h2>

      <div>
        <p>
          We have no requirements with how to exchange goods; if you choose to
          use PayPal, Cryptocurrency, or cash, it is entirely up to you. Any
          disputes must be taken up with the seller. Only in the case of a
          breach of c-base rules will a team member step in.
        </p>
      </div>
    </article>

    <div class="mb-6">
      <p>
        Brought to you by <a href="https://www.reiner.systems" target="_blank">
          mirshko
        </a>
      </p>

      <p>
        Designed by <a href="https://www.brandonoxendine.com" target="_blank">
          Brandon Oxendine
        </a>
      </p>
    </div>
  </div>
</Layout>
