<div class="mb-10 space-y-5">
  <p class="body max-w-4xl">
    In association with <a href="https://c-base.org">c-base</a>
    — the oldest discovered space station under Berlin — now long-running (nearly
    30 years) hackerspace, we're hosting a quarterly event.
  </p>

  <p class="body max-w-4xl">
    In tune with the spirit of right-to-repair as well as reuse, the goal of the
    Berlin Swapfest is for people to bring electronics, equipment, and tools
    they no longer use but want to bring to a good home. If you've been trying
    to find the perfect equipment to build your home-lab or looking for new
    electronic components or tools, this should be the place for you. Berlin
    Swapfest is inspired by the <a href="https://w1mx.mit.edu/flea-at-mit/"
      >MIT Swapfest</a
    >.
  </p>

  <p class="body max-w-4xl">
    We will try to make things educational and entertaining. Hourly, we pass a
    microphone around so those who want to swap items <em>can</em> elaborate on what
    they're offering and what their expectations are for the exchange. The Berlin
    Swapfest is a relaxed event where you can meet other people. Additionally, there
    is a bar where you can get beverages.
  </p>
</div>
