<div class="mb-10 space-y-5">
  <p class="body max-w-4xl">
    In association with <a href="https://c-base.org">c-base</a>
    — the oldest discovered space station under Berlin — now long-running <i
      >(30 years)</i
    >
    hackerspace, we're hosting a quarterly second-hand electronics flea market.
  </p>

  <p class="body max-w-4xl">
    In tune with the spirit of right-to-repair as well as reuse-reduce-recycle,
    the goal of the Berlin Swapfest is for people to bring electronics,
    equipment, and tools they no longer use but wish to bring to a good home. If
    you've been trying to find the perfect equipment to build your home-lab or
    looking for new electronic components, music equipment or tools, this is the
    place for you. Berlin Swapfest is inspired by the <a
      href="https://w1mx.mit.edu/flea-at-mit/">MIT Swapfest</a
    >, now celebrating their 40th anniversary.
  </p>

  <p class="body max-w-4xl">
    We will try to make things educational and entertaining. Every so often we
    will pass a microphone around so those who want to swap items <em>can</em> elaborate
    on what they're offering and what their expectations are for the exchange. The
    Berlin Swapfest is a relaxed event where you can chat with and meet other like-minded
    individuals. Additionally, there is a bar where you can get beverages.
  </p>
</div>
