---
import Background from "../components/background.astro";
import FlyerTabs from "../components/flyer-tabs.astro";
import Title from "../components/title.astro";
import * as LINKS from "../constants/links";
import { EVENT_DATE } from "../constants/date";
import HeroEventDetails from "./hero-event-details.astro";
---

<header
  class:list={[
    "relative grid place-items-center pt-10 pb-20 text-center",
    { "border-b": !EVENT_DATE },
  ]}
>
  <Background />

  <Title />

  {
    EVENT_DATE ? (
      <HeroEventDetails eventDate={EVENT_DATE} />
    ) : (
      <Fragment>
        <p aria-hidden="true" class="faq-header tilt-left">
          We're taking a break
        </p>

        <p aria-hidden="true" class="faq-header tilt-right">
          back in 2026
        </p>

        <p class="sr-only">We're taking a break, back in 2026</p>

        <p class="mt-20">
          <a
            aria-label="Subscribe for updates!"
            class="register-button"
            href={LINKS.NEWSLETTER_LINK}
            onclick="fathom.trackEvent('click subscribe for updates');"
            target="_blank"
          >
            Subscribe for updates!
          </a>
        </p>
      </Fragment>
    )
  }
</header>

{EVENT_DATE && <FlyerTabs eventDate={EVENT_DATE} />}
