<h1 class="h1">
  <span class="letter-1">B</span><span class="letter-2">e</span><span class="letter-3">r</span><span class="letter-4">l</span><span class="letter-5">i</span><span class="letter-6">n</span>
  <br /><span class="letter-7">S</span><span class="letter-8">w</span><span class="letter-9">a</span><span class="letter-10">p</span><span class="letter-11">f</span><span class="letter-12">e</span><span class="letter-13">s</span><span class="letter-14">t</span>
</h1>