---
import WiggleText from "./wiggle-text.astro";
---

<h1 class="display mb-10">
  <WiggleText
    text="Berlin Swapfest"
    words={[
      [
        ["B", "rotate-[-5deg] scale-120"],
        ["e", "rotate-[3deg] scale-75 ml-[1.2%] mr-[-1.5%]"],
        ["r", "rotate-[-2deg] scale-105 mr-[1.2%]"],
        ["l", "rotate-[4deg] scale-100"],
        ["i", "rotate-[-3deg] scale-80 ml-[-1.2%]"],
        ["n", "rotate-[6deg] scale-102"]
      ],
      ["BREAK"],
      [
        ["S", "rotate-[-15deg] scale-100"],
        ["w", "rotate-[5deg] scale-130"],
        ["a", "rotate-[-6deg] scale-80 mr-[-1.5%]"],
        ["p", "rotate-[2deg] scale-103"],
        ["f", "rotate-[-3deg] scale-120"],
        ["e", "rotate-[4deg] scale-85 mr-[-1%]"],
        ["s", "rotate-[-2deg] scale-106"],
        ["t", "rotate-[5deg] scale-102"]
      ]
    ]}
  />
</h1>
