---
// eslint-disable-next-line unicorn/prevent-abbreviations
export interface Props {
  text: string;
  words: ([string, string] | "BREAK")[][];
}

const { text, words } = Astro.props;
---

<>
  {
    words.map((word, index, self) => (
      <>
        {word.map((element) => {
          if (element === "BREAK") return <br />;
          const [letter, className] = element;
          return (
            <span aria-hidden="true" class:list={className}>
              {letter}
            </span>
          );
        })}

        {index !== self.length - 1 && " "}
      </>
    ))
  }

  <span class="sr-only">{text}</span>
</>
